<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{%  block title %}{% endblock %} - MySite</title>
    {# this might not help me remeber but, for fuck sake, linking in css require a
       <link> that with a href="" attribute  and rel="stylesheet"  #}
    <link rel="stylesheet"
            href="{{request.static_url('mysite:static/mysite.css') }}">
</head>
<body>

{# although many things in the architecture are dynamic, certain variables will still shit themselves. #}

<nav class="navbar">
    <div class="navbar navbar-default">
        {#  <a href="{{ request.route_url('todo_list') }}">TODO</a> #}
    </div>
</nav>

{% if view.messages %}
    {% for message in view.messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{%  endif %}

{%  if view.msg %}
    {{  view.msg  }}!!!!!!
{% endif %}
<h1> hahhhh</h1>
{% block content %}{% endblock %}


<script src="//oss.maxcdn.com/jquery/2.1.3/jquery.js"></script
</body>
</html>
